.miForm{
    margin: 3%;
}

.controls{
    border: solid 3px lightslategray ;
    border-radius: 10%;
    box-shadow: 5px 2px 2px lightcoral;
    padding: 5%;
}

.itemList{
    border: solid 3px lightblue ;
    border-radius: 10%;
    box-shadow: 10px 5px 5px red;
    padding: 0%;
    width: 100%;
}

.content{
    display: flex;
    flex-direction: column;
}

@media (min-width: 720px) {
    
    .content{
        display: flex;
        flex-direction: row;
    }
  }