 .footer-content {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     font-family: cursive;
 }
 
 .socials {
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 1rem 0 3rem 0;
 }

 .socials li {
     margin: 0 10px;
 }


.footer-bottom {
     padding: 20px;
     font-size: 13px;
     padding-bottom: 40px;
     text-align: center;
     font-family: cursive;
 }

 .footer-bottom p {
     float: left;
     font-size: 13px;
     word-spacing: 2px;
     text-transform: capitalize;
 }

 .footer-bottom p a {
     color: #44bae8;
     font-size: 15px;
     text-decoration: none;
 }  

 .footer-bottom span {
     text-transform: uppercase;
     opacity: 0.4;
     font-weight: 200;
 }